@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black font-semibold;
}

/* Use the primary color directly */
@layer components {
  .text-primary {
    color: theme("colors.primary");
  }

  .hover\:text-primary:hover {
    color: theme("colors.primary");
  }

  .bg-primary {
    background-color: theme("colors.primary");
  }

  .button-primary {
    @apply text-white bg-primary hover:bg-purple-600 rounded-md;
  }

  .button-secondary {
    @apply text-gray-700 hover:text-primary border border-primary px-4 py-2 rounded-md;
  }

  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}
